<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    {{form.valid }} {{form.value | json}}

    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatorio e com 5 caracteres" label="Endereço">
            <input class="form-control" name="address" ngModel required minlength="5" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container errorMessage="Numero obrigatorio" label="Numero">
            <input type="text" class="form-control" name="number" ngModel required autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container errorMessage="Campo complemento com erro" label="Complemento">
            <input type="text" class="form-control" name="option" ngModel autocomplete="off">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <div class="col-xs-12 table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Quantidade</th>
                <th>Item</th>
                <th>Descrição</th>
                <th class="text-right">Subtotal</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <a class="btn btn-sm">
                    <i class="fa fa-minus"></i>
                  </a>
                  1
                  <a class="btn btn-sm">
                    <i class="fa fa-plus"></i>
                  </a>
                </td>
                <td>Cup Cake</td>

                <td>Recheado com doce de leite</td>
                <td class="text-right">R$ 10,00</td>
                <td class="text-right">
                  <a class="btn btn-sm danger">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <a class="btn btn-sm">
                    <i class="fa fa-minus"></i>
                  </a>
                  1
                  <a class="btn btn-sm">
                    <i class="fa fa-plus"></i>
                  </a>
                </td>
                <td>Croissant</td>

                <td>Recheado com presunto e queijo</td>
                <td class="text-right">R$ 10,00</td>
                <td class="text-right">
                  <a class="btn btn-sm danger ">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <div>
              <label>
                <div class="iradio_flat-red checked" aria-checked="false" aria-disabled="false" style="position: relative;">
                  <input type="radio" name="r3" class="flat-red" checked="" style="position: absolute; opacity: 0;" />
                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                </div>
                Dinheiro
              </label>
            </div>
            <div>
              <label>
                <div class="iradio_flat-red" aria-checked="false" aria-disabled="false" style="position: relative;">
                  <input type="radio" name="r3" class="flat-red" checked="" style="position: absolute; opacity: 0;" />
                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                </div>
                Cartão de Débito
              </label>
            </div>

          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Itens:</th>
                  <td class="text-right">R$ 20,00</td>
                </tr>
                <tr>
                  <th>Frete:</th>
                  <td class="text-right">R$ 8,00</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td class="text-right">R$ 28,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <a href="order-summary.html" class="btn btn-success pull-right">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </a>
      </div>
    </div>

  </section>
</section>