<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>CHUPA MUNDO!</h1>
     <p>
       1º PASSO PARA DOMINAÇÃO CONLUIDA!
     </p>
     <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']" >2° PASSO</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->